<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>HelloWorld</title>
    <link rel="stylesheet" href="../layui/css/layui.css"/>
</head>
<body>

<script src="../layui/layui.js"></script>

<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">标题一</li>
        <li>标题二</li>
        <li>标题三</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">内容1</div>
        <div class="layui-tab-item">内容2</div>
        <div class="layui-tab-item">内容3</div>
    </div>
</div>

<script>

    layui.use("demo", function() {
        var demo = layui.demo;
        console.log(demo);
    });

    layui.data('test', {key: 'nickname', value: '你好'});
</script>
</body>
</html>